---
layout : default
---

<!-- pricing -->
<div id="pricing" class="pricing_page">
  <div class="container">

    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>
        {{page.title}} 
        <small>{{page.sub-title}}</small>
      </span>
      <hr class="right visible-desktop">
    </h2>

    <div class="row">
      <div class="span12">
        <div class="lead">
          {{{ content }}}
        </div>
      </div>
    </div>

    <!-- pricing charts 1 -->
    <div class="row">
      {{# catalog.categories.hosting }}
        {{# catalog?to_catalog }}
          <div class="span4">
            <div class="price_wrapper {{div-class}}">
              <div class="header">
                <span>{{sub-title}} <small>{{sku}}</small></span>
                <div class="price">
                    <span>$ {{price}}</span>
                    {{time}}
                </div>
              </div>
              <div class="section">
                <h3>{{description}}</h3>
                <ul class="perks">
                  <li>
                    <i class="icon-road"></i>
                      Super Fast-loading
                  </li>
                  <li>
                    <i class="icon-folder-open"></i>
                      {{storage}} of Disk Space
                  </li>
                  <li>
                    <i class="icon-edit"></i>
                      {{database}} of SSD Database Space
                  </li>
                  <li>
                    <i class="icon-arrow-up"></i>
                      {{bandwidth}} of Monthly Transfer
                  </li>
                  {{#ssl}}
                    <li>
                      <i class="icon-lock"></i>
                        Dedicated IP and SSL Certificate
                    </li>
                  {{/ssl}}
                </ul>
                <a href="#" class="btn" id="{{button-id}}">Order now</a>
              </div>
            </div>
          </div>
        {{/ catalog?to_catalog }}
      {{/ catalog.categories.hosting }}
    </div>
  </div>
</div>
<div class="modal hide fade" id="drupal_hosting">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Drupal hosting</h3>
  </div>
  <div class="modal-body">
    <i class="icon-github"></i>
  </div>
</div>
<script src="https://js.stripe.com/v1/"></script>
{{# javascripts.load }}
  pricing.js
{{/ javascripts.load }}
