<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/reset.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/skeleton.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/slider.css" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/superfish.css" type="text/css" media="screen">

  <link rel="icon" href="{{ ASSET_PATH }}/images/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.png" type="image/x-icon">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{{ ASSET_PATH }}/js/slides.min.jquery.js"></script>
  <!--[if lt IE 8]>
    <div style='clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
      </a>
    </div>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css">
  <![endif]-->
  <!--[if IE 9]>
    <style>#search-form input{padding:10px 35px 9px 12px;}</style>
  <![endif]-->
</head>

<body{% if page.body-id %} id="{{page.body-id}}"{% endif %}>
  <div class="light">
    <div class="container_12">
      <div class="grid_12">
        <!--======================== header ============================-->
        <header>
          <div class="wrapper {% if page.slides %}border-bottom {% endif %}indent-bottom">
            <!--======================== logo ============================-->
            <h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
            <!--================== social icons ==========================-->
            <ul class="social-icons">
              <li><a href="https://twitter.com/SundaysEnergy" class="icon-3"></a></li>
              <li class="last-item"><a href="https://www.facebook.com/pages/Sundays-Energy/369232703165225" class="icon-4"></a></li>
            </ul>
          </div>

          <!--=================== slides ==================-->
          {% if page.slides %}<meta name="description" content="{{ page.description }}">
          <div id="slides">
            <div class="slides_container">
              <div class="slide">
                <img src="{{ ASSET_PATH }}/images/slide-a.png" alt="Drupal Support">
                <div class="caption"><a href="http://sundaysenergy.org/catalog/web-development/drupal-0">read more</a></div>
              </div>
              <div class="slide">
                <img src="{{ ASSET_PATH }}/images/slide-b.png" alt="Drupal BOA Aegir Hosting">
                <div class="caption"><a href="http://sundaysenergy.org/catalog/hosting">read more</a></div>
              </div>
              <div class="slide">
                <img src="{{ ASSET_PATH }}/images/slide-circles.png" alt="Point of Sale">
                <div class="caption"><a href="http://circles.sundaysenergy.com">read more</a></div>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="border-top">
            <div class="border-bottom indents">
              <!--======================== menu ============================-->
              <nav>
                <ul class="menu responsive-menu">
                  {% assign pages_list = site.pages %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
                </ul>
              </nav>
              <div class="clear"></div>
            </div>
          </div>
        </header>
        <!--======================== content ===========================-->
        <section id="content" class="border-bottom">
          <div class="wrapper">
            {{ content }}
          </div>
        </section>
        <!--======================== footer ============================-->
        <footer>
          <div class="footer-text">&copy; {{ site.author.name }} 2012</div>
        </footer>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% include JB/analytics %}
</body>
</html>
